@font-face {
  font-family: 'DesuzaPro';
  src: url('/fonts/DesuzaPro.woff2') format('woff2'),
       url('/fonts/DesuzaPro.woff') format('woff');
  font-weight: 1000;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DesuzaPro';
  src: url('/fonts/DesuzaPro-Italic.woff2') format('woff2'),
       url('/fonts/DesuzaPro-Italic.woff') format('woff');
  font-weight: 1000;
  font-style: italic;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-foreground;
  font-family: 'DesuzaPro', sans-serif;
  background-image: url('/solaxybg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Remove input number arrows - Webkit */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Remove input number arrows - Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --ring: 240 3.7% 15.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
}

select {
  @apply block w-full px-3 py-2 text-sm border rounded-md cursor-pointer;
  @apply hover:bg-accent hover:text-accent-foreground;
  @apply border-input bg-background ring-offset-background;
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2;
}

input {
  @apply flex w-full h-10 px-3 py-2 text-sm border rounded-md;
  @apply placeholder:text-muted-foreground border-input bg-background ring-offset-background;
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2;
  @apply file:border-0 file:bg-transparent file:text-sm file:font-medium;
}

input:disabled,
select:disabled {
  @apply opacity-50 cursor-not-allowed;
}
